#container {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

#container h3 {
  margin-bottom: 30px;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: grid;
  width: 340px;
  grid-template-columns: [img] 1fr [ul] 4fr;
  background-color: rgb(224, 224, 224);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(153, 153, 153);
  transition: 1s;
  cursor: pointer;
}

.card li:first-child {
  font-weight: Bold;
  text-transform: uppercase;
}

.card:hover {
  border: 1px solid rgb(0, 0, 0);
  transition: 0.8s;

  box-shadow: 0px 0px 5px rgb(160, 160, 160);
}

.card .img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  background-color: rebeccapurple;
}

.card ul {
  list-style: none;
  text-decoration: none;
}

#paginacao {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#paginacao button {
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
}

#paginacao p {
  margin-right: 10px;
}
