#container {
  width: 80%;
  margin: 0 auto;
  margin-top: 0px;
}

#container h3 {
  margin: 10px 0 30px 0;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.content-result {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.content-result #itens {
  width: 50px;
  height: 25px;
}

.card {
  display: grid;
  width: 300px;
  grid-template-columns: [img] 1fr [ul] 4fr;
  background-color: rgba(41, 187, 97, 0.123);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(201, 255, 210);
  transition: 1s;
  cursor: pointer;
}

.card li:first-child {
  font-weight: Bold;
  text-transform: uppercase;
}

.card:hover {
  border: 1px solid rgb(0, 0, 0);
  transition: 0.8s;

  box-shadow: 0px 0px 5px rgb(160, 160, 160);
}

.card .img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  background-color: rgb(51, 153, 110);
}

.card ul {
  list-style: none;
  text-decoration: none;
}

#paginacao {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#paginacao button {
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
}

#paginacao p {
  margin-right: 10px;
}
