#content {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 0px 0px 2px rgb(182, 182, 182);
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
}
form input {
  margin-bottom: 10px;
  padding: 5px;
}

form input[type="submit"] {
  margin-top: 10px;
  background-color: rgb(41, 187, 97);
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
